body {
    display: flex;
    justify-content: center;
}

#main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.box {
    display: flex;
    width: 200px;
    height: 200px;
    color: green;
    font-size: 8em;
    background: rgb(202, 163, 163);
    align-items: center;
    justify-content: center;
}

#box1 {
    border-bottom: 2px white solid;
    border-right: 2px white solid;
}